body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f8f0e3; /* Un tono crema suave */
    color: #5e503f; /* Un tono marrón oscuro */
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: #c9ada7; /* Un tono verde grisáceo */
    font-size: 2.5em;
    margin-bottom: 5px;
}

p {
    color: #9a8c98; /* Un tono lila grisáceo */
    font-style: italic;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.producto {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.producto h3 {
    color: #5e503f;
    margin-top: 0;
    margin-bottom: 5px;
}

.precio {
    color: #e29578; /* Un tono naranja terroso */
    font-weight: bold;
    margin-bottom: 10px;
}

.descripcion {
    color: #706677; /* Otro tono lila grisáceo */
    font-size: 0.9em;
}

/* Estilos adicionales para un toque más elegante */
header {
    border-bottom: 2px solid #c9ada7;
    padding-bottom: 20px;
}

.producto {
    transition: transform 0.3s ease-in-out;
}

.producto:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
